.cart {
  max-width: 800px;
  display: grid;
  grid-template-columns: repeat(2, 1fr) repeat(3, 0.5fr);
  grid-row-gap: 20px;
  margin-bottom: 20px;
  margin: 0 auto;
}

.img {
  width: 160px;
  height: 160px;
  object-fit: cover;
}
.product {
  margin-right: 20px;
}
.button {
  text-align: center;
}
.center {
  text-align: center;
}

ul {
  list-style: none;
}
