.footer {
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e5e5e5;
  margin-top: 40px;
}

.logo {
  display: flex;
  align-items: center;
}

.logoText {
  margin: 0 10px;
  color: #2b2b2b;
}

.nav {
  display: flex;
  color: #2b2b2b;
  a {
    margin-left: 20px;
    color: #2b2b2b;
    &:hover {
      text-decoration: none;
      color: #000;
    }
  }
}
.link {
  display: contents;
}
