.counter {
  display: flex;
}
.counterInput {
  margin: 0 10px;
  width: 60px;
  text-align: center;
}
.counterInput[type='number']::-webkit-inner-spin-button,
.counterInput[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
