.color-list {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.color-list-item {
  margin: 0 6px;
  list-style: none;
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px var(--dark-20, #babec9);
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  border-radius: 50%;
  &:hover {
    cursor: pointer;
  }
  &.active {
    box-shadow: 0 0 0 2px rgba(43, 41, 41, 0.623), 0 0 0 4px black;
    border-radius: 80%;
  }
}

.color-circle {
  width: 12px;
  height: 12px;
  display: block;
  border-radius: 50%;
}
