.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 3rem;
  align-items: center;
  align-self: center;
  justify-items: center;
}

.heading {
  text-align: center;
  font-size: var(--heading-lg, 2rem);
  margin-bottom: 24px;
}
