.selectSize {
  display: flex;
  flex-direction: column;
}

.select {
  max-width: 72px;
  color: var(--text-color, #000);
  background-color: var(--bg-color, #fff);
}

.label {
  margin-bottom: 15px;
}
