.productDetails {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  max-width: 800px;
}
.details {
  margin-left: 40px;
}

.rating {
  margin-bottom: 10px;
}

.img {
  width: auto;
  max-width: 400px;
  height: auto;
  max-height: 400px;
  object-fit: cover;
}
.availableColors {
  margin-bottom: 20px;
}
.select {
  margin-top: 20px;
}
