.productDetails {
  display: flex;
  flex-direction: row;
}
.details {
  margin-left: 40px;
}

.img {
  width: auto;
  max-width: 400px;
  height: auto;
  height: 400px;
}
.availableColors {
  margin-bottom: 20px;
}
.select {
  margin-top: 20px;
}
